.User {
    display: flex;
    padding: 10px;
    margin: 5px;
    width: 80%;
    border : 2px solid wheat;
    border-radius: 15px;
}
.LeftBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border : 2px solid wheat;
    border-radius: 15px;
    margin-right: 15px;
}

.RightBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border : 2px solid wheat;
    border-radius: 15px;
    padding: 5px;
}
.Page{
    font-size: 20px;
    cursor: pointer;
    margin: 0px 5px;
}

.PageActive{
    font-size: 20px;
    margin: 0px 5px;
    font-style: italic;
    font-weight: bold;
}