.dialogs {
    display: grid;
    -ms-grid-columns: 3fr 9fr;
    grid-template-columns: 3fr 9fr;
}

.dialogsItem {
    width: 60px;
    margin: 10px 55px 0px 15px;
    font-size: 25px;
}
.name{
    text-decoration: none;
}
.name:active {
    color: gold;
}

.dialogsItem .active {
    color: gold;
    margin: 10px 10px 0px 15px;
    font-size: 23px;
}

.dialog {
    width: 120px;
    margin-bottom: 15px;
}
img{
    width: 30px;
}
.message {
    margin: 10px 10px 0px 5px;
    border: 2px solid white;
    border-radius: 3px;
}
.textarea{
    width: 300px;
    margin-top: 25px;
}
.button{
    display: block;
    margin-left: 235px;
}