.dialogs {
    display: grid;
    -ms-grid-columns: 3fr 9fr;
    grid-template-columns: 3fr 9fr;
}

.dialogsItem {
    margin: 10px 10px 0px 15px;
    font-size: 18px;
}

.dialog:active {
    color: gold;

}

.dialogsItem .active {
    color: gold;
    margin: 10px 10px 0px 15px;
    font-size: 23px;
}

.messages {

}

.message {
    margin: 10px 10px 0px 5px;
    border: 2px solid white;
    border-radius: 3px;
}